body{
  background-image: url(pic.jpg);
  background-size: cover;
  font-weight: bolder;
  text-align: center;
}

.container{
  background-color: rgb(252, 252, 252, 0.7);
  width: 45%;
  margin: auto;
  border: 3px solid goldenrod;
  border-radius: 1rem;
}

h1 {
  margin: 2rem 0;
}

#counter{
  margin: 2rem 0;
}

button {
  width: 12rem;
  padding: 1rem 3rem;
  border: 2px solid rgb(125, 125, 125);
  border-radius: 6px;
  font-weight: bolder;
  cursor: pointer;
}

#increament-btn{
  background-color: rgb(253, 181, 0);
}
#increament-btn:hover{
  background-color: rgb(176, 126, 0);
}
#save-btn{
  margin: 1rem 0;
  background-color: rgb(12, 207, 12);
}
#save-btn:hover{
  background-color: rgb(0, 136, 0);
}
#preValue{
  font-size: 20px;
}

#reset-btn{
  margin-top: 3rem;
  background-color: red ;
}
#reset-btn:hover{
  margin-top: 3rem;
  background-color: rgb(255, 91, 91) ;
}
h5{
  color: rgb(255, 77, 77);
}
strong{
  color: rgb(210, 0, 0);
  font-weight: bolder;
}

